<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link href="/public/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<title>Papernet</title>
</head>
<body class="light-blue lighten-5">
	<h1>{{ printf "%s" .Title }}</h1>

	<div class="container">
		<div class="icon-bar"><a href="/papers"><i class="mdi mdi-home hoverable-icon title-icon"></i></a><a href="/papers/{{ .ID }}/edit"><i class="mdi mdi-pencil hoverable-icon title-icon"></i></a></div>

		<h5 class="card-panel">Summary</h5>
		<div class="summary">{{ .Summary }}</div>

		<h5 class="card-panel">References</h5>
		<ul class="container references">
			{{ range .References }}
				<li><a href="/papers/{{ . }}">{{ . }}</a></li>
			{{ end }}
		</ul>

		<h5 class="card-panel">Authors</h5>
		<div class="multiline-list">
			{{ range .Authors }}<span>{{ . }}</span>{{ end }}
		</div>

		<h5 class="card-panel">Tags</h5>
		<div class="multiline-list">
			{{ range .Tags }}<span>{{ . }}</span>{{ end }}
		</div>
	</div>
</body>
</html>
