# Dev configuration

[clients.auth]
user = "papernet_admin"
password = "papernet"
baseURL = "http://127.0.0.1:1705"

# ----------------------------------------
# Auth service
[auth]
key = "configuration/hs256.json"

[auth.cayley]
store = "data/auth.graph"
# Auth service
# ----------------------------------------

# ----------------------------------------
# Cron service
[cron]
key = "configuration/hs256.json"

[cron.mail]
email="email"
password="password"
server="server"

[cron.mysql]
host = "192.168.50.4"
port = "3306"
user = "root"
password = "root"
database = "cron"
# Cron service
# ----------------------------------------

# ----------------------------------------
# Oauth service
[oauth]
email = true
google = true
# Oauth service
# ----------------------------------------

# ----------------------------------------
# Google service
[google]
bolt = "data/google.db"
file = "configuration/oauth_google.json"
key = "configuration/hs256.json"
# Google service
# ----------------------------------------

# ----------------------------------------
# Imports service
[imports]
key = "configuration/hs256.json"

[imports.bolt]
store = "data/imports.db"
# Imports service
# ----------------------------------------

# ----------------------------------------
# Paper service
[paper]
key = "configuration/hs256.json"

[paper.bolt]
store = "data/paper.db"

[paper.bleve]
store = "data/paper.index"
# Paper service
# ----------------------------------------

[bolt]
store = "data/papernet.db"

[bleve]
store = "data/papernet.index"
